* {
	padding: 0;
	margin: 0;
	border: 0;
	list-style-type: none;
}

.section {
	max-width: 70rem;
	margin: 3rem auto 0;
	padding: 1rem 0;
	background-color: rgba(214, 174, 255, 0.28);
}

.title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.list,
.list__minmax {
	margin: 2rem 0 0 1rem;
}

.list li {
	margin-bottom: 0.5rem;
}

.list__text--bold {
	font-weight: 600;
	margin-bottom: 0.5rem;
}